// you can change colors here
$theme-color: #90ccaa;
$font-family: "pretendard, -apple-system, Noto Sans KR";
$font-family-heading: "pretendard, -apple-system, Noto Sans KR";
$font-family-mono: "pretendard, -apple-system, Noto Sans KR";
